##### VisualStudioCode
.vscode/
.vscode/*
philo/.vscode/
philo/.vscode/*
*.code-workspace

#compiled
philo/philo
*.o
*.dll
*.dylib
*.lib
*.a

##### MacOS
# General
.DS_Store
.AppleDouble
.LSOverride

